<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Search Engine</title>
</head>
<input type="hidden" id="userId" name="" value="-1" />
<input type="hidden" id="userNamePlace" name="" value="none" />
<body ng-app="hotelSearch" ng-Controller="hotelControl">
	<div class="row">
		<div class="col s12 m12">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<div class="row">
						<div class="col m2" >
							<span class="card-title orange-text">Search Hotels</span>
						</div>
						<div class="input-field col s11 m9">
							<input placeholder="Type here" type="text" class="validate" ng-model="query">
							<label for="query">Enter your query</label>
						</div>
						<div class="col s1 m1">
							<a class="btn-floating waves-effect waves-light red shiftDown" id="search"><i class="material-icons">search</i></a>
						</div>
					</div>
					<div class="row">
						<div class="col s6 m1">
							<a class="btn-floating waves-effect waves-light red" id="setting" href="#modal"><i class="material-icons">settings</i></a>
						</div>
						<div class="col s6 m1">
							<a class="waves-effect waves-light btn more">more</a>
						</div>
						<div class="input-field col s12 m5 hidden">
							<select id="searchCategory">
								<option value="none" disabled selected>Choose your option</option>
								<option value="text">Text file</option>
								<option value="image">Image File</option>
								<option value="pdf">PDF document</option>
								<option value="audio">Audio file</option>
								<option value="video">Video file</option>
								<option value="other">Other file</option>
							</select>
							<label>Select Category</label>
						</div>
						<div class="input-field col s12 m5 hidden">
							<select id="sortCategory">
								<option value="" disabled selected>Choose your option</option>
								<option value="dateModified">Date modified</option>
								<option value="fileName">Name</option>
								<option value="category">Category</option>
							</select>
							<label>Sort by</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	<div class='col s12 m6' ng-repeat="x in root">
			<div class='card white darken-1'>
			 <div class='card-content black-text'>
			<span class='card-title'><a>{{x.hotelName}}</a></span>
			<p> Hotel Rating : {{x.rating}}</p>
			<p> Room Cost : {{x.roomCost}}</p>
			<p> Location : {{x.locationX + " , " + x.locationY}}
			</div></div></div>
	</div>
	<div id="modal" class="modal">
		<div class="modal-content">
			<div class="row">
				<div class="col s12">
					<ul class="tabs">
						<li class="tab col s6"><a id="init" href="#login">login</a></li>
						<li class="tab col s6"><a href="#signup">signup</a></li>
					</ul>
				</div>
				<div id="login" class="col s12">
					<p><h4>Login</h4></p>
					<form action="" enctype="multipart/form-data">
						<div class="input-field col s12">
						<i class="material-icons prefix" id="userNameParent">supervisor_account</i>
						<input id="userName" type="text" name="userName" class="validate" required="">
						<label for="icon_prefix">User Name</label>
						</div>
						<div class="input-field col s12">
						<i class="material-icons prefix">vpn_key</i>
						<input id="password" type="password" name="userName" class="validate" required="">
						<label for="icon_prefix">Password</label>
						</div>
					</form>
					<div class="modal-footer">
						<a id="loginButton" class=" modal-action modal-close waves-effect waves-green btn-flat">Login</a>
						<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
					</div>
				</div>
				<div id="signup" class="col s12">
					<p><h4>Sign Up</h4></p>
					<form action="" method="post" enctype="multipart/form-data">
						<div class="input-field col s12">
						<i class="material-icons prefix" id="userNameParent">supervisor_account</i>
						<input id="newUserName" type="text" name="userName" class="validate" required="">
						<label for="icon_prefix">New User Name</label>
						</div>
						<div class="input-field col s12">
						<i class="material-icons prefix">vpn_key</i>
						<input id="newPassword" type="password" class="validate" required="">
						<label for="icon_prefix">New Password</label>
						</div>
						<div class="input-field col s12">
						<i class="material-icons prefix">vpn_key</i>
						<input id="rePassword" type="password" class="validate" required="">
						<label for="icon_prefix">Re-type Password</label>
						</div>
					</form>
					<div class="modal-footer">
						<a href="#!"  id="signUpButton" class=" modal-action modal-close waves-effect waves-green btn-flat">Sign Up</a>
						<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/index.js">
</script>
<script>
var app = angular.module('hotelSearch', []);
app.controller('hotelControl', function($scope,$http) {
	$scope.$watch('query',function(val){
		$http.get("getHotels.php?q="+val).then(function(response)
		{
			console.log((response.data.length));
		    $scope.root = response.data.root;
		});
		
	} );
	
});
</script>
</html>